*{
    /* keeps div/element at size you set it to and avoids resizing when item inside gets bigger. the who*/
    box-sizing: border-box;
    /*border: 1px solid red;  temp*/
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* --------------- NAVIGATION STYLING HERE ------------------*/

.mobile_nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 6vh;
    width: 100%;
}

.nav_logo{
    padding-left: 2%;
}

.menu_toggle{
    color: #cbc3ad;
    font-size: 2.7rem;
    background-color: transparent;
    padding-right: 2%;    
    border: none;
    cursor: pointer;
}


/* menu transition */
.mobile_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease, visibility 0.8s ease;
    z-index: 99;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.mobile_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.mobile_menu li {
    margin: 1.5rem 0;
}

.mobile_menu a {
    color: black;
    font-size: 2.2rem;
    text-decoration: none;
}


.mobile_menu.show {
    opacity: 1;
    visibility: visible;
}


/* Menu close button */
.menu_close {
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: 2.7rem;
    background: transparent;
    border: none;
    color: black;
    cursor: pointer;
    z-index: 99;
}

/* Contact button */
.contact_button{
    color: white;
    background-color: #cbc3ad;
    font-size: 1.3rem;
    font-weight: 50;
    border: none;
    padding: 1rem 1.8rem; /* controls height & width */
    border-radius: 999px;   /* makes it pill-shaped */
    cursor: pointer;
}


.contact_button_container{
    margin-top: 8rem; /* pushes it down */
    display: flex;
    justify-content: center;
}



/* --------------- VIDEO STYLING HERE ------------------*/

.vid_container{
    display: flex;
    height: 40vh;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    position: relative;
}


.full_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -8%);
    width: clamp(80px, 200vw, 250px); /*previous was 100vw, 200px*/
    z-index: 2;
}