*{
    /* keeps div/element at size you set it to and avoids resizing when item inside gets bigger. the who*/
    box-sizing: border-box;
    /*border: 1px solid red; temp */
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* NAVIGATION STYLING HERE */

.mobile_nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 6vh;
    width: 100%;
}

.nav_logo{
    padding-left: 2%;
}

.menu_toggle{
    color: #cbc3ad;
    font-size: 2.5rem;
    background-color: transparent;
    padding-right: 2%;    
    border: none;
    cursor: pointer;
}




/* VIDEO STYLING HERE */

.vid_container{
    display: flex;
    height: 40vh;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    position: relative;
}


.full_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -8%); /* previous -85%*/
    width: clamp(80px, 200vw, 250px); /*previous was 100vw, 200px*/
    z-index: 2;

}